body{
    background-color: var(--black);
}

#pageWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#indexContentRoot{
    margin-top: 80px;
    background-color: var(--grey);
    width: 310px;
    min-height: 400px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    border-radius: 5px 5px 5px 5px;
}

@media only screen and (min-width: 800px) {
    #pageWrapper{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        margin-top: 30px;
    }

    #indexContentRoot{
        margin-top: 0px;
        width: 550px;
        height: 100%;
    }

}

@media only screen and (min-width: 1200px) {
    #indexContentRoot{
        width: 820px;
        height: 100%;
    }
}