@media only screen and (min-width: 800px) {
    #pageWrapper{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        margin-top: 30px;
    }

    #content{
        margin-top: 0px;
        width: 550px;
        height: 100%;
    }

    ._title{
        font-size: 40px;
    }

    .paragraph{
        font-size: 20px;
        margin-left: 30px;
    }

    ._firstParagraph{
        width: 490px;
    }

    .listImage{
        width: 500px;
        height: 350px;
        margin: 0px 30px;
    }

    .listImageWrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }
    
    .paragraphWrapper{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }

    .githubWrapper{
        margin-right: 30px;
        font-size: 16px;
        margin-bottom: 5px;
    }
    .underImage{
        width: 230px;
        margin: 0px 10px;
    }
    
    .nextTopicWrapper{
        margin-right: 0px;
        font-size: 15px;
    }

    ._resume{
        width: 500px;
        height: 700px;
    }

}
