@media only screen and (min-width: 800px) {
    #pageWrapper{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        margin-top: 30px;
    }

    #content{
        margin-top: 0px;
        width: 550px;
        height: 100%;
    }

}
