body{
    background-color: var(--black);
}

#pageWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content{
    margin-top: 80px;
    background-color: var(--grey);
    width: 310px;
    min-height: 400px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    border-radius: 5px 5px 5px 5px;
}

