#blogNav{
    background-color: var(--black);
    display: flex;
    padding-right: 5px;
    border-radius: 5px 0px;
    padding-top: 2px;
    width: 25vw;
}

.blogSectionWrapper{
    border-top: 1px solid var(--orange);
    margin-bottom: 10px;
    margin-right: 5px;
    padding: 3px;
}
