<link rel="stylesheet" href="/components/blog/view.css">

<div id = "blogRoot">
    <div id = "blogNav">
        <ul>
            <li class = "blogSectionWrapper">
                <span class = "blogSection">Data Mining</span>
                <ul>
                    <a class = "blogEntry"> 1 - A roadmap on web scraping</a>
                    <a class = "blogEntry "> 2 - Automate Downloads</a>
                    <a class = "blogEntry"> 3 - Consume a Restful API</a>
                </ul>
            </li>
            <li class = "blogSectionWrapper">
                <span class = "blogSection"> Infra/Devops</span>
                <ul>
                    <a class = "blogEntry activeBlogEntry" >1 - Configure VPS for Node server</a>
                    <a class = "blogEntry " >2 - Cronjobs</a>
                </ul>
            </li>
        </ul>
    </div>
    <div id = "blogPost"></div>
</div>