<link rel="stylesheet" href="components/project/view.css">

<hr>
<h2 class = "title"></h2>
<div class = "forceJustify">
    <span class = "firstParagraph paragraph"></span>
</div>

<div class = "listImageWrapper">
    <img class = "firstImage listImage mobileMediumHidden" src = "">
    <img class = "secondImage listImage" src = "">
    
</div>
<div class = "githubWrapper">
    <img class = "gitImage" src="pages_content/images/git_logo.png">
    <span class = "gitText">Check the <span class = "highlight"><a class = "sourceCode" href = "">Source Code</a></span></span>
</div>

<div class = "paragraphWrapper">
    <span class = "secondParagraph paragraph underImage"></span>
    <span class = "thirdParagraph paragraph underImage"></span>
</div>



