.title{
    color: var(--orange);
    font-size: 24px;
    font-weight: bold;
}

.companyInfo{
    display: flex;
    margin-left: 5px;
    font-size: 12px;
    margin-top: 5px
}

.forceJustify{
    display: flex;
}


.paragraph{
    margin-top: 10px;
    font-size: 14px;
    margin-left: 10px;
    font-weight: 400;
    text-align: justify;
    text-justify: inter-word;
}

.firstParagraph{
    width: 290px;
}
.highlight{
    color: var(--orange);
}

.listImageWrapper{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 5px;
}

.listImage{
    width: 300px;
    height: 200px;
    border-radius: 5px;
}

.mobileMediumHidden{
    display: none;
}

.githubWrapper{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 10px;
}

.gitImage{
    width: 30px;
    height: 20px;
}

.paragraphWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

@media only screen and (min-width: 800px) {

    .title{
        font-size: 40px;
    }

    .paragraph{
        font-size: 20px;
        margin-left: 30px;
    }

    .firstParagraph{
        width: 490px;
    }

    .listImage{
        width: 500px;
        height: 350px;
        margin: 0px 30px;
    }

    .listImageWrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }

    .paragraphWrapper{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }

    .githubWrapper{
        margin-right: 30px;
        font-size: 16px;
        margin-bottom: 5px;
    }
    .underImage{
        width: 230px;
        margin: 0px 10px;
    }
}

@media only screen and (min-width: 1200px) {
    .firstParagraph{
        width: 760px;
    }

    .mobileMediumHidden{
        display: inline;
    }

    .listImageWrapper{
        flex-direction: row;
    }

    .listImage{
        width: 350px;
        height: 250px;
    }

    .underImage{
        width: 350px;
        margin: 0px 30px;
    }
    
    .gitImage{
        margin-top: 5px;
        width: 40px;
        height: 30px;
    }
    .githubWrapper{
        margin-right: 100px;
    }
}