<link rel="stylesheet" href="components/about/view.css"> 
<div id = "aboutRoot">
    <h1>Nelson Luiz Serpa de Oliveira</h1>
    
    <div id = "avatarTitlesWrapper">
        <img id = "avatar" src = "components/about/images/eu.jpeg"/>
        <div id = "titles">
            <span class = 'title' >
                <span class = "highlight">Software Engineer</span>
            </span>
            <span class = 'title' >
                Experience in <span class = "highlight">Backend</span>
                and <span class = "highlight">Data Mining</span>
            </span>
        </div>
    </div>
    <h2>Find me @</h2>
    <div id = "findmeWrapper">
        <div class = "findmeItem">
            <img class = "logo" src="components/about/images/git.png">
            <span>@nluizsoliveira</span>
        </div>

        <div class = "findmeItem">
            <img class = "logo" src="components/about/images/linkedin.png">
            <span>in/nluizsoliveira</span>
        </div>

        <div class = "findmeItem">
            <img class = "logo" src="components/about/images/mail.jpg">
            <span>nelson.luiz.oliveira@usp.br</span>
        </div>

        <div class = "findmeItem">
            <img class = "logo" src="components/about/images/mail.jpg">
            <span>nluizsoliveira@gmail.com</span>
        </div>
    </div>

    <h2>I've worked on</h2>

    <div class = "listWrapper">
        <span class = "listItem">
            <bold> > Data Mining</bold>
            , particurlarly over web data, which includes implementing
            ETL pipelines for crawlers
             <span class = "highlight">Python, Scrapy, BeautifulSoup</span>
        </span>
        <span class = "listItem">
            <bold> > Backend</bold>
            specifically Restful APIs
            for both serving web pages and providing extracted data
             <span class = "highlight">Flask, Node.js</span>
        </span >
        <span class = "listItem">
            <bold> > Frontend</bold>
            responsive webpages
             <span class = "highlight">React, Javascript, CSS, HTML</span>
        </span>
        <span class = "listItem">
            <bold> > Database Migration</bold>
            batch scripts
             <span class = "highlight">SQL, Bash, Java</span>
        </span>
    </div>

    <h2>I value good development practices</h2>
    <div class = "listWrapper">
        <span class = "listItem">
            <bold> > Testing</bold>
             unitary/functional tests, TDD cycles
             <span class = "highlight">Pytest</span>
        </span>
        <span class = "listItem">
            <bold> > Code versioning</bold>
             <span class = "highlight">Git</span>
        </span>
        <span class = "listItem">
            <bold> > Coding Conventions </bold>
             <span class = "highlight">PEP8, Clean Code</span>
        </span>
    </div>

    <h2>I'm currently studying</h2>
    <div class = "listWrapper">
        <span class = "listItem">
            <bold> > Data Science </bold>
            statistics, regression, ML models, matplotlib, numpy, pandas, 
            sklearn
        </span>
        <span class = "listItem">
            <bold> > Web Security </bold>
            preventing threats such as SQL Injection, XSS, CSRF, SSR, 
                HTTP Smuggling
        </span >
        <span class = "listItem">
            <bold> > Robust Backends </bold>
             OAUTH, load balancing, caching, authentication/authorization, 
             design patterns
        </span>
        <span class = "listItem">
            <bold> > Devops </bold>
             Containerization, CI/CD
        </span>
    </div>
    
</div>